<a class="text-decoration-none" href="/manufacturers/{{manufacturer._id}}">
  <div class="card h-100">
    <img style="height: 100px; width: fit-content; max-width: 100%" src="{{manufacturer.image}}" alt="...">
    <div class="card-body d-flex flex-column justify-content-end flex-nowrap">
      <h5 class="card-title">{{manufacturer.name}}</h5>
      <p class="card-text">{{manufacturer.year}}</p>
    </div>
  </div>
</a>