<a class="text-decoration-none" href="/smartphones/{{phone._id}}">
  <div class="card h-100">
    <img src="{{phone.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{phone.name}}</h5>
      <p class="card-text">{{phone.price}}€</p>
    </div>
  </div>
</a>